<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Change user role</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div th:insert="header :: header">Heeey</div>

<ul class="list-group" th:each="ins : ${instr}">
    <p><span class="font-weight-bold">Model:</span>
        <span th:text="${ins.model}" />
    </p>
    <p><span class="font-weight-bold">Instruction:</span>
        <span th:text="${ins.descr}" />
    </p>
</ul>

<div th:insert="footer :: footer">He</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>