<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <title>Free orders</title>
</head>
<body>
<div class="mb-4" th:insert="header :: header">Heeey</div>

<a th:href="@{/master/my-orders}"><button>Open my unfinished orders</button></a>
<h2>Free orders</h2>
<ul class="list-group" th:each="order : ${orders}">
    <li class="list-group-item">
        <form method="post" th:action="@{/master/take/} + ${order.id}">
            <p th:text="'Problem description: ' + ${order.request.description}"/>
            <p th:text="'Request date: ' + ${order.request.date}"/>
            <p th:text="'Price: ' + ${order.price}"/>
            <button type="submit">Take</button>
        </form>
    </li>
</ul>
</form>
<div th:insert="footer :: footer">He</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>