<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h2>Hello world!</h2>
<!--    <table>-->
<!--        <th:block th:each="user : ${users}">-->
<!--            <tr>-->
<!--                <td th:text="${user.login}">...</td>-->
<!--                <td th:text="${user.password}">...</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2" th:text="${user.email}">...</td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->
</body>
</html>