<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Denied Requests</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div th:insert="header :: header">Heeey</div>
<h3>Denied requests:</h3>

<ul class="list-group" th:each="deniedRequest : ${deniedRequests}">
    <li class="list-group-item">
        <p><span class="font-weight-bold">Problem description:</span>
            <span th:text="${deniedRequest.request.description}" />
        <p><span class="font-weight-bold">Date:</span>
            <span th:text="${deniedRequest.request.date}" />
    </li>
</ul>

<div th:insert="footer :: footer">He</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>
