<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Done orders</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div class="mb-4" th:insert="header :: header">Heeey</div>
<ul class="list-group" th:each="order : ${doneOrders}">
    <li class="list-group-item">
        <p th:text="'Problem description: ' + ${order.request.description}" />
        <div th:if="${order.orderStatus == T(com.example.demo.model.entity.request.OrderStatus).DONE}">
            <p>This order is already done</p>
            <div th:if="${order.feedback != null}">
                <p>You have left your feedback about it</p>
            </div>
            <div th:if="${order.feedback == null}">
                <form method="post" th:action="@{/customer/left-feedback/} + ${order.id}">
                    <textarea name="feedback">Left your feedback</textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </li>
</ul>
<div th:insert="footer :: footer">He</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
